body {
  background-color: rgb(109, 104, 117);
  font-family: Georgia;
}

.jumbotron {
  background-color: rgb(229, 152, 155);
  border: 6px  rgb(181, 131, 141);
  border-style: groove;
  margin: 12px;
  padding: 8px;
  text-align: center;
}

.card {
  background-color: rgb(229, 152, 155);
  border: 6px  rgb(181, 131, 141);
  border-style: groove;
  margin: 12px;
  padding: 8px;
  font-size: 17px;
}

.right {
  float: right;
  margin: 12px;
  padding: 4px;
  border: 6px rgb(181, 131, 141);
  border-style: groove;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

.card-title {
  text-align: center;
}